<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/register.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Registro</title>
</head>
<body>

    <!-- HEADER-->
    <%- include('../partials/navigation.ejs') %>

    <div class="register__content">
        <form class="register__form" method="POST" action="/register">
            <h1>Registro</h1>
            <input type="text" name="fullname" placeholder="Full Nombre" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
    
            <button>Registrarse</button>
            <p style="margin-top: 30px; margin-bottom: 15px;">¿Ya tienes una cuenta?</p>
            <a href="#"  id="login-link">Ingresar</a>
        </form>
    </div>

    <!-- FOOTER-->
    <%- include('../partials/footer.ejs') %>    
</body>
</html>