<div id="footer">
    <div id="footer-ppal">
        <div class="footer-text">
            <div class="footer-buttons">
                <p><a href="#">ABOUT</a></p>
                <p><a href="#">HELP</a></p>
                <p><a href="#">LEGAL</a></p>
                <p><a href="#">POLICY</a></p>
                <p><a href="#">TERMS</a></p>
                <p><a href="#">CONTACT</a></p>
            </div>
        </div>
        <div class="footer-logo">
            <img src="/images/logoBP.png">
        </div>
        <div class="footer-text">
            <div class="footer-logo">
                <p>© 2023 BIG PRODE. All rights reserved.</p>
            </div>
            <div class="footer-brands">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>                
            </div>
        </div>
    </div>
</div>
