<nav id="nav">
    <a href="/" id="link-logo">
        <img src="/images/logoBP.png" alt="BIG PRODE">
    </a>
    <label for="check" class="check-btn"><i class="fas fa-bars"></i></label>
    <input type="checkbox" id="check">
    <ul class="nav__list">
        <li><a class="nav__btn" href="/contact">Contacto</a></li>
        <% if (user) { %>
            <li><a class="nav__btn" href="/profile">Mi Perfil</a></li>      
            <li><a class="nav__btn nav__btn--login" href="/logout">Cerrar sesión</a></li>   
        <% } else { %>
        <li><a class="nav__btn" href="/register">Registro</a></li>
        <li><a class="nav__btn nav__btn--login" href="/login">Ingresar</a></li>
        <% } %>
    </ul>
</nav>
