<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <!-- FONT AWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Contact</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/navigation.ejs') %>

    <div class="contact">
        <div class="con__tittle">
            <h1>Contacto</h1>
        </div>
        <div class="contact__form">
            <form id="form" class="form" action="/contact_user" method="POST">
                <div class="input__box">
                    <input class="input" type="text" id="name" name="name" placeholder="Nombre *">
                </div>
                <div class="input__box">
                    <input class="input" type="email" id="email" name="email" placeholder="Email *">
                </div>
                <div class="input__box input__box--textarea">
                    <label for="message">Mensaje *</label>
                    <textarea id="message" name="message" rows="6"></textarea>
                </div>
                <div class="input__box">
                    <button class="btn__form">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>