<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT AWSOME -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <title>Error</title>
</head>
<body>
    <div style="width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <img width="400px" src="/images/404.webp" alt="">
        <a href="/" style="text-decoration: none; background: #5CCF95; padding: .6rem 1.5rem; color: white;">Volver</a>
    </div>
</body>
</html>