<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>pronosticos</h1>
    <select id="roundSelect" name="select">
        <option id="1" value="round1">Fecha 1</option>
        <option id="2" value="round2">Fecha 2</option>
        <option id="3" value="round3">Fecha 3</option>        
        <option id="4" value="round4">Fecha 4</option>
        <option id="5" value="round5">Fecha 5</option>
        <option id="6" value="round6">Fecha 6</option>
        <option id="7" value="round7">Fecha 7</option>
        <option id="8" value="round8">Fecha 8</option>
        <option id="9" value="round9">Fecha 9</option>
        <option id="10" value="round10">Fecha 10</option>
        <option id="11" value="round11">Fecha 11</option>
        <option id="12" value="round12">Fecha 12</option>
        <option id="13" value="round13">Fecha 13</option>
        <option id="14" value="round14">Fecha 14</option>
        <option id="15" value="round15">Fecha 15</option>
        <option id="16" value="round16">Fecha 16</option>
        <option id="17" value="round17">Fecha 17</option>
        <option id="18" value="round18">Fecha 18</option>
        <option id="19" value="round19">Fecha 19</option>
        <option id="20" value="round20">Fecha 20</option>
        <option id="21" value="round21">Fecha 21</option>
        <option id="22" value="round22">Fecha 22</option>
        <option id="23" value="round23">Fecha 23</option>
        <option id="24" value="round24">Fecha 24</option>
        <option id="25" value="round25">Fecha 25</option>
        <option id="26" value="round26">Fecha 26</option>
        <option id="27" value="round27">Fecha 27</option>
        <option id="28" value="round28">Fecha 28</option>
    </select>
    <div class="fixtures">
        <% for( let i = 0; i < matches.length; i++ ) { %>
            <p><%= matches[i].teams.home.name %> - <%= matches[i].goals.home %></p>
            <p><%= matches[i].teams.away.name %> - <%= matches[i].goals.away %></p>
        <% } %>
    </div>

</body>
</html>