<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <!-- FONT AWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/images/ball_icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <title>BIG PRODE</title>
</head>
<body>
    <!-- HEADER-->
    <%- include('./partials/navigation.ejs') %>
    <div class="main">
        <div class="main__title">
            <h1>BIG PRODE</h1>
            <span>¿Cuánto sabes de fulbo?</span>
        </div>
        <div class="main__info">
            <div class="info">
                <span>¿Nunca jugaste al BIG PRODE?</span>
                <p>Es una competencia de pronósticos de fútbol online. <br>Analiza, pronostica y demuestra que eres el que más sabe de fútbol. </p>
            </div>
            <div class="info">
                <span>¿Cómo funciona?</span>
                <p>BIG PRODE consiste en realizar pronósticos de fútbol profesional. <br>Los mismos, se realizan por jornadas donde tendrás que pronosticar los resultados de todos los encuentros.</p>               
                <a href="#rules" id="enlace">Ver reglamento</a>
                <div id="rules" class="caja-popup">
                    <div class="popup">
                        <a href="#" class="cerrar">&times;</a>
                        <div class="contenido">
                            <%- include('./rules.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info">
                <span>¿Con quién compites?</span>
                <p>Crea tus propios grupos de competencia o únete a un grupo al que has sido invitado a participar en el juego.</p>
            </div>
        </div>
    </div>
    <!-- FOOTER-->
    <%- include('./partials/footer.ejs') %>
</body>
</html>