<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="/styles/universal.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <!-- FONT AWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/images/ball_icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    
    <title>Perfil</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/navigation.ejs') %>

    <div class="profile">
        <div class="profile__user">
            <h3 class="user__name">Bienvenido <%= user.fullname %></h3>
        </div>
        <div class="profile__sections">
            <a class="section" href="/groups">Grupos</a>
            <a class="section" href="/forecasts">Pronósticos</a>
            <a class="section" href="/positions">Tabla de posiciones</a>
        </div>
    </div>     

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>