<h1>REGLAMENTO | BIG PRODE</h1>

<h2>INTRODUCCIÓN</h2>
<hr>
<p>
  El Campeonato de Primera División del Fútbol Argentino Superliga 2017/18 se llevará a cabo a partir del viernes
  25 de agosto de 2017, con la participación de los veintiocho 28 clubes que integran la Categoría.
</p>
<p>
  Se disputará en una sola rueda de partidos, todos contra todos, con un total 27 eventos por equipo.
</p>
<p>
  El participante que alcance la mayor suma de puntos a lo largo de las antes mencionadas 27 jornadas, será quien se
  corone campeón.
</p>

<h2>PUNTUACIÓN</h2>
<hr>
<p>
  Acierto de equipo vencedor: 4 puntos.
</p>
<p>
  Acierto de empate: 5 puntos.
</p>
<p>
  Acierto de los goles de un equipo: 1 punto.
</p>
<p>
  Acierto de equipo vencedor + los goles de uno de los dos equipos: 6 puntos.
</p>
<p>
  Acierto del resultado completo: 9 puntos (golazo).
</p>

<h2>Ejemplos:</h2>
<table class="examples">
  <tr>
    <th>Partido</th>
    <th>Res.Oficial</th>
    <th>Pronóstico</th>
    <th>Puntuación</th>
    <th>Explicación</th>
  </tr>
  <tr>
    <td>RAC vc ARG</td>
    <td>3 -- 1</td>
    <td>2 -- 0</td>
    <td>4 pts.</td>
    <td>Adivina Racing (+4)</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>2 -- 1</td>
    <td>2 -- 0</td>
    <td>6 pts.</td>
    <td>Adivina Racing (+4) y el 2 (+2)</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>0 -- 0</td>
    <td>2 -- 0</td>
    <td>1 pt.</td>
    <td>Adivina el 0 (+1)</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>1 -- 2</td>
    <td>2 -- 0</td>
    <td>0 pts.</td>
    <td>No adivina nada</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>2 -- 3</td>
    <td>2 -- 0</td>
    <td>1 pt.</td>
    <td>Adivina el 2 (+1)</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>1 -- 1</td>
    <td>2 -- 0</td>
    <td>0 pts.</td>
    <td>No adivina nada</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>2 -- 2</td>
    <td>2 -- 0</td>
    <td>1 pt.</td>
    <td>Adivina el 2 (+1)</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>3 -- 0</td>
    <td>2 -- 0</td>
    <td>6 pts.</td>
    <td>Adivina Racing (+4) y el 0 (+2)</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>1 -- 1</td>
    <td>0 -- 0</td>
    <td>5 pts.</td>
    <td>Adivina el empate (+5)</td>
  </tr>
  <tr>
    <td>RAC vs ARG</td>
    <td>2 -- 0</td>
    <td>2 -- 0</td>
    <td>9 pts.</td>
    <td>Racing (+4), el 2 (+2) y el 0 (+2). Plus Pleno (+1)</td>
  </tr>
</table>

<p>[Aclaración: El pleno en el empate no da plus, dado que ya está incluido en caso de acertar el empate y no los goles.
  Por lo tanto, si se acierta redondo un 1 -- 1, también se suman 9 puntos.]</p>

<p>Consultar en caso de existir duda alguna.</p>