@mixin flex( $display, $justify, $align, $direction){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin media($medida: 780px){
    @media only screen and (max-width: $medida){
        @content
    }
}

.contact{
    @include flex(flex, center, center, column);
    background-image: url('/images/contact.jpg');
    background-position: center;
    background-size: cover; 
    height: calc(100vh - 7rem - 23px);
    padding-top: 2rem;
    padding-bottom: 2rem;
    .con__tittle{
        width: 80%;
        display: flex;
        h1{
            color: #EEF1EF;
        }
    }
    .contact__form{
        @include flex(flex, center, center, column);
        width: 100%;
        border-top: 1px solid #EEF1EF;
        .form{
            @include flex(flex, space-between, center, column);
            width: 40%;            
            .input__box{
                @include flex(flex, center, center, column);
                width: 100%;
                .input{
                    border: none;
                    border-bottom: 3px solid #EEF1EF;
                    width: 80%;
                    background: none;  
                    outline: none;            
                    padding: 1rem;    
                    margin: 1rem 0;  
                    color: gold;
                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #EEF1EF;
                        font-weight: 600;
                        opacity: 1; /* Firefox */
                      }
                      
                      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #EEF1EF;
                        font-weight: 600;
                      }
                      
                      &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #EEF1EF;
                        font-weight: 600;
                      }
                }
                textarea{
                    width: 80%;
                    background-color: rgba(255, 255, 255, 0.5);
                    padding: 1rem;
                    font-size: 16px;
                    outline: none;
                    color: gold;
                }
                .btn__form{
                    padding: 0.5rem 3rem;
                    border-radius: 5px;
                    background: #EEF1EF;
                    margin-top: 1rem;
                    cursor: pointer;
                    border: none;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .input__box--textarea{
                @include flex(flex, center, start, column);
                margin-left: 20%;
                label{
                    font-size: 16px;
                    font-weight: 600;
                    color: #EEF1EF;
                    padding: 1rem;
                }
            }
            @include media(){
                width: 80%;
            }
        }
    }
}