@mixin flex( $display, $justify, $align, $direction){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin media($medida: 780px){
    @media only screen and (max-width: $medida){
        @content
    }
}

#footer{
    height: 220px;
    background: #121212;
    @include media(){
        height: auto;
        padding: 1rem 0;
    }
    #footer-ppal{
        @include flex(flex, space-between, center, row);
        height: 210px;
        margin-left: 70px;
        margin-right: 70px;
        @include media(){
            @include flex(flex, center, center, column); 
            height: auto;
        }
        .footer-text{
            @include flex(flex, space-between, center, row);
            @include media(){
                @include flex(flex, center, center, row);
                flex-wrap: wrap;
                width: 100%;
            }
            
            .footer-reserved{
                p{
                    color: #EEF1EF;
                    padding-right: 1rem;
                }
            }            
            .footer-buttons{
                @include flex(flex, space-around, center, row);
                width: 400px;
                @include media(){
                    @include flex(flex, space-between, center, row);
                    flex-wrap: wrap;
                    width: 100%;
                }
                p{
                    @include media(){
                        width: 40%;
                        padding: 8px;
                        text-align: center;
                    }
                    a{
                        text-decoration: none;
                        color: #EEF1EF;
                        font-size: 15px;
                    }
                }
            }
            .footer-brands{
                @include flex(flex, space-around, center, row);
                width: 100px;
                @include media(){
                    width: 100%;
                    padding-top: 2rem ;
                }
                a{
                    text-decoration: none;             
                    i{
                        color: #EEF1EF;
                        font-size: 18px;
                    }
                }
            }
        }
        .footer-logo{
            @include media(){
                @include flex(flex, center, center, row);
                width: 100%;
            }
            img{
                width: 200px;
                @include media(){
                    width: 100px;
                }
            }
        }            
    }
}
