.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container h1 {
  font-size: 40px;
}
.container #form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container #form #roundSelect {
  width: 30%;
  padding: 0.6rem 0;
  margin: 2rem 0;
  font-size: 17px;
  padding-left: 10px;
  outline: none;
}
@media only screen and (max-width: 540px) {
  .container #form #roundSelect {
    width: 60%;
    padding-left: 1.5rem;
  }
}
.container #form .fixture {
  max-width: 1280px;
  margin-bottom: 2rem;
}
.container #form .fixture table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container #form .fixture table thead {
  background: #000000;
  border-radius: 3px 3px 0 0;
  padding: 0.6rem 0;
}
.container #form .fixture table thead tr {
  color: #EFEFEF;
}
@media only screen and (max-width: 780px) {
  .container #form .fixture table thead tr {
    font-size: 15px;
  }
}
.container #form .fixture table thead tr th {
  width: 4rem;
}
.container #form .fixture table thead tr .date {
  width: 4.5rem;
}
.container #form .fixture table thead tr .vs {
  width: 2rem;
}
.container #form .fixture table thead tr .teams {
  width: 15rem;
}
@media only screen and (max-width: 540px) {
  .container #form .fixture table thead tr .teams {
    width: 4rem;
  }
}
.container #form .fixture table tbody {
  text-align: center;
}
.container #form .fixture table tbody tr {
  border-top: 1px solid #d2d1d1;
  padding: 0.6rem 0;
}
.container #form .fixture table tbody tr:hover {
  background: #5CCF95;
  border-radius: 3px;
}
.container #form .fixture table tbody tr td {
  width: 4rem;
}
@media only screen and (max-width: 780px) {
  .container #form .fixture table tbody tr td {
    font-size: 15px;
  }
}
.container #form .fixture table tbody tr td .input__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container #form .fixture table tbody tr td .input__cont .forecasts {
  width: 3rem;
  text-align: center;
  outline: none;
}
@media only screen and (max-width: 540px) {
  .container #form .fixture table tbody tr td .input__cont .forecasts {
    width: 1.5rem;
  }
}
.container #form .fixture table tbody tr .date {
  width: 4.5rem;
}
.container #form .fixture table tbody tr .vs {
  width: 2rem;
}
@media only screen and (max-width: 540px) {
  .container #form .fixture table tbody tr .vs {
    width: 1.5rem;
  }
}
.container #form .fixture table tbody tr .teams {
  width: 15rem;
}
@media only screen and (max-width: 540px) {
  .container #form .fixture table tbody tr .teams {
    width: 20%;
  }
}
.container #form .fixture table tbody tr .teams .teams__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.container #form .fixture table tbody tr .teams .teams__logo span {
  width: 80%;
}
@media only screen and (max-width: 780px) {
  .container #form .fixture table tbody tr .teams .teams__logo span {
    width: 60%;
  }
}
@media only screen and (max-width: 540px) {
  .container #form .fixture table tbody tr .teams .teams__logo span {
    width: 60%;
  }
}
.container #form .fixture table tbody tr .teams .teams__logo img {
  margin: 0 5px;
}
@media only screen and (max-width: 780px) {
  .container #form .fixture table tbody tr .teams .teams__logo img {
    width: 20px;
    margin: 0;
  }
}
.container #form #send {
  padding: 0.7rem 1.3rem;
  background: #5CCF95;
  margin-bottom: 2rem;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #88ca6f;
  cursor: pointer;
}
.container #form #send:hover {
  background: #01b85c;
}/*# sourceMappingURL=forecasts.css.map */