.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(85vh - 7rem - 23px);
  min-height: 85vh;
  margin: 2rem 0;
}
.main .groups {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}
.main .groups .groups__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #bebebe, -1px -1px 4px #bebebe;
  transition: 0.3s;
}
.main .groups .groups__card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.main .groups .groups__card a {
  text-decoration: none;
}
.main .groups .groups__card .group__name {
  color: #252323;
  font-size: 21px;
}
.main .groups .groups__card span {
  font-weight: 400;
  padding: 1rem 0;
}
.main .groups .groups__card .btn__exit {
  color: #EEF1EF;
  background: #da1d05;
  padding: 0.4rem;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}
.main .groups .groups__card .btn__exit:hover {
  background: #ff1e00;
}
.main .groups .groups__card--create {
  color: #000000;
  text-decoration: none;
}
.main .groups .groups__card--create img {
  width: 65px;
}
.main .groups .groups__card--create span {
  font-size: 17px;
}
.main .groups .groups__card--create:hover {
  transform: scale(1.05);
}
.main .groups__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  display: none;
}
.main .groups__info .group__link {
  width: 50%;
  padding: 0.5rem;
  background: #EEF1EF;
  border: 1px solid gray;
  border-radius: 3px;
}
@media only screen and (max-width: 780px) {
  .main .groups__info .group__link {
    width: 90%;
  }
}
.main .groups__info .group__members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 1rem 0;
  text-align: center;
  font-weight: 300;
}
@media only screen and (max-width: 780px) {
  .main .groups__info .group__members {
    width: 90%;
  }
}
.main .groups__info .group__members .numbers {
  width: 4.1rem;
}
.main .groups__info .group__members thead {
  width: 100%;
  background: #000000;
  border-radius: 3px 3px 0 0;
}
.main .groups__info .group__members thead tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.4rem 0.5rem;
}
.main .groups__info .group__members thead tr th {
  border: 1px solid black;
  padding: auto;
  color: #EEF1EF;
}
.main .groups__info .group__members tbody {
  width: 100%;
}
.main .groups__info .group__members tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.4rem 0.5rem;
  border-top: 1px solid #d2d1d1;
}
.main .groups__info .group__members tbody tr td {
  text-align: center;
}/*# sourceMappingURL=groups.css.map */