@mixin flex( $display, $justify, $align, $direction){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin media($medida: 780px){
    @media only screen and (max-width: $medida){
        @content
    }
}

.main{
    @include flex(flex, center, center, column);
    width: 100%;
    // height: calc(85vh - 7rem - 23px);
    min-height: 85vh;
    margin: 2rem 0;
    .groups{
        // background: pink;
        @include flex(flex, center, center, row);
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem;
        .groups__card{
            // background: gold;
            @include flex(flex, center, center, column);
            width: 14rem;
            padding: 1rem;
            margin: 1rem;
            border-radius: 3px;
            box-shadow: 1px 1px 4px #bebebe, -1px -1px 4px #bebebe;
            transition: .3s;
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
            a{
                text-decoration: none;
            }
            .group__name{
                color: #252323;
                font-size: 21px;
            }
            span{
                font-weight: 400;
                padding: 1rem 0;
            }
            .btn__exit{
                color: #EEF1EF;
                background: #da1d05;
                padding: .4rem;
                width: 100%;
                border-radius: 5px;
                text-align: center;
                &:hover{
                    background: #ff1e00;
                }
            }
        }
        .groups__card--create{    
            color: #000000;   
            text-decoration: none;     
            img{
                width: 65px;
            }       
            span{
                font-size: 17px;                  
            }
            &:hover{
                transform: scale(1.05);
            }  
        }
    }
    .groups__info{
        @include flex(flex, center, center, column);
        width: 100%;
        padding: 1rem;
        display: none;
        .group__link{
            // background: green;
            width: 50%;
            padding: .5rem;
            background: #EEF1EF;
            border: 1px solid gray;
            border-radius: 3px;
            @include media(){
                width: 90%;
            }
        }
        .group__link--advert{
            text-align: center;
            background: #ffea77;
            margin-top: 7px;
        }
        .group__members{
            // background: gold;
            @include flex(flex, center, center, column);
            width: 50%;
            margin: 1rem 0;
            text-align: center;
            font-weight: 300;
            @include media(){
                width: 90%;
            }
            .numbers{
                width: 4.1rem;
            }
            thead{
                width: 100%;
                background: #000000;
                border-radius: 3px 3px 0 0;
                tr{
                    @include flex(flex, space-between, center, row);
                    padding: .4rem .5rem;
                    th{
                        border: 1px solid black;
                        padding: auto;
                        color: #EEF1EF;
                    }
                }
            }
            tbody{
                width: 100%;
                tr{
                    @include flex(flex, space-between, center, row);
                    padding: .4rem .5rem;
                    border-top: 1px solid #d2d1d1;
                    td{
                        text-align: center;                        
                    }
                }
            }
        }
    }
}