@mixin flex( $display, $justify, $align, $direction){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin media($medida: 780px){
    @media only screen and (max-width: $medida){
        @content
    }
}


.main{
    @include flex(flex, center, center, column);
    .main__title{
        @include flex(flex, center, center, column);
        background-image: url('/images/portada.jpg');
        background-position: center;
        background-size: cover; 
        width: 100%;
        height: 43vh;
        // margin: 0 13px;
        h1{
            color: gold;
            font-size: 50px;
            margin-top: 7rem;
            margin-bottom: 2rem;
            @include media(){
                font-size: 35px;
            }
        }
        span{
            color: #EEF1EF;
            font-size: 33px;
            font-weight: 300;
            @include media(){
                font-size: 25px;
            }
        }
    }
    .main__info{
        @include flex(flex, space-around, center, row);
        width: 100%;
        margin: 1.5rem 0;
        font-weight: 300;
        @include media(){
            @include flex(flex, space-around, center, column);
        }
        .info{
            @include flex(flex, space-around, center, column);
            background: #D1EECA;
            width: 27%;
            height: 31vh;
            padding: 2rem;
            border-radius: 5px;
            @include media(1160px){
                height: 55vh;
            }  
            @include media(){
                width: 70%;
                margin: 1rem 0;
                height: 31vh;
            }            
            span{
                font-size: 19px;
                @include media(){
                    font-size: 17px;
                    text-align: center;
                }  
            }
            p{
                font-size: 16px;
            }
            a{
                font-size: 15px;
            }     
            .caja-popup{
                position: fixed;  //hace que el elemento se mantenga fijo en la interfas
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0 ,0 ,0.7 );  //LINDO, TENER EN CUENTA PROXIMAMENTE
                transition: opacity .3s;
                visibility: hidden;
                opacity: 0;
                &:target{
                    visibility: visible;
                    opacity: 1;
                }
                .popup{
                    padding: 20px;
                    background: white;
                    border-radius: 5px;
                    width: 50%;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include media(1080px){
                        width: 85%;
                    }  
                    h2{
                        margin: 1rem 0;
                    }
                    .cerrar{
                        position: absolute;
                        top: 12px;
                        right: 24px;
                        text-decoration: none;
                        font-size: 20px;
                        transition: .3s;
                        font-weight: bold;
                        color: #333;
                        &:hover{
                            color: tomato;
                        }
                    }
                    .contenido{
                        max-height: 80vh;
                        overflow: auto;
                        line-height: 20px;
                        padding-top: 1rem;
                        padding-right: 1rem;
                        margin-top: 1rem;
                        &::-webkit-scrollbar {
                            width: 5px;
                        }                    
                        &::-webkit-scrollbar-thumb {
                            background-color: #888;
                            border-radius: 5px;
                        }                    
                        &::-webkit-scrollbar-thumb:hover {
                             background-color: #555;
                        }
                        h1{
                            @include media(1080px){
                                font-size: 25px;
                            }
                            @include media(){
                                font-size: 20px;
                            }
                        }
                        h2{
                            @include media(1080px){
                                font-size: 20px;
                            }
                            @include media(){
                                font-size: 17px;
                            }
                        }
                        p{
                            @include media(1080px){
                                font-size: 15px;
                            }
                            @include media(){
                                font-size: 15px;
                            }
                        }
                        .examples{
                            @include flex(flex, center, center, column);
                            margin: 0 auto;
                            text-align: center;
                            margin-bottom: 1rem;
                            tr{
                                line-height: 20px;
                                th{
                                    padding: 0 5px;
                                }
                                td{
                                    padding: 0 5px;
                                }
                                @include media(1080px){
                                    font-size: 15px;
                                }
                                @include media(){
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}
